Dolphin/User/Backup/SYSCONF
Dolphin/User/Cache/gamelist.cache
Dolphin/User/Cache/ID-Project+ Offline Launcher.uidcache
Dolphin/User/Wii/tmp/*
Dolphin/User/GC/SRAM.raw
*.ini
*.bin
*.iso
*.cache
*.uidcache
*.dat
*.raw
*.txt
*.bak
*.vff

