Dolphin/User/Backup/SYSCONF
Dolphin/User/Cache/gamelist.cache
Dolphin/User/Cache/ID-Project+ Offline Launcher.uidcache
Dolphin/User/Wii/tmp/*
Dolphin/User/Cache/gamelist.cache
Dolphin/User/GC/SRAM.raw
Dolphin/User/Wii/fst.bin
Dolphin/User/Wii/shared2/sys/SYSCONF
Dolphin/User/Wii/title/00010000/52534245/data/autosv0.bin
Dolphin/User/Wii/title/00010000/52534245/data/autosv1.bin
Dolphin\Sys\GameSettings\*
*.bin
*.iso
*.cache
*.uidcache
*.raw
*.txt
*.bak
*.vff
*.tmp
Dolphin/User/Config/Debugger.ini
Dolphin/User/Config/DSUClient.ini
Dolphin/User/Config/FreeLook.ini
Dolphin/User/Config/GCKeyNew.ini
Dolphin/User/Config/GCPadNew.ini
Dolphin/User/Config/Logger.ini
Dolphin/User/Config/Qt.ini
Dolphin/User/Config/WiimoteNew.ini
Dolphin/User/Config/FreeLookController.ini
Dolphin/User/ResourcePacks/Packs.ini
Dolphin/User/Config/Dolphin.ini

*.ini
Dolphin/User/Config/Dolphin.ini
*.ini
Dolphin/User/Config/GFX.ini
*.usage
*.s01
*.ini
Dolphin/User/Config/Dolphin.ini
Dolphin/User/Config/GFX.ini
*.ini
Dolphin/User/StateSaves/lastState.sav
Dolphin/User/Config/Dolphin.ini
Dolphin/User/Config/GFX.ini
*.ini
Dolphin/User/Config/Dolphin.ini
Dolphin/User/Config/Dolphin.ini
Dolphin/User/Config/GFX.ini
Dolphin/User/Config/GFX.ini
Dolphin/User/Config/Dolphin.ini
*.ini
Dolphin/User/Load/WiiSD.raw.xxx
SD
